<?xml version="1.0" encoding="utf-8"?>
<module>
  <assemblies>
    <!-- This adds the Quicksilver template assembly to the "default module" -->
    <add assembly="EPiServer.Reference.Commerce.Site" />
  </assemblies>
  <dojoModules>
    <add name="app" path="Scripts" />
  </dojoModules>
  <clientModule initializer="app/editors/initializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>
</module>
